{% extends 'layout/base.html' %}
{% load static %}

{% block title %} {{ block.super }} find your next job {% endblock title %}

{% block main %}
  <section class="main-banner" style="background:#242c36 url({% static 'jobs/img/slider-01.jpg' %}) no-repeat">
    <div class="container">
      <div class="caption">
        <h2>Build Your Career</h2>
        <form method='POST' action="{% url 'jobs:list_all' %}">
          {% csrf_token %}
          <fieldset>
            <div class="col-md-4 col-sm-4 no-pad">
              {{ search_form.key_word }}
            </div>
            <div class="col-md-3 col-sm-3 no-pad">
              {{ search_form.experience }}
            </div>
            <div class="col-md-3 col-sm-3 no-pad">
              {{ search_form.category }}
            </div>
            <div class="col-md-2 col-sm-2 no-pad">
              <input type="submit" class="btn seub-btn" value="submit" />
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </section>

  <section class="jobs">
    <div class="container">
      <div class="row heading">
        <h2>Last Publised Jobs</h2>
        <p>Top 20 of jobs publised recently</p>
      </div>
      <div class="companies">
        
		{% for job in jobs %}
    <div class="company-list">
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <div class="company-logo">
            <img src="{{ job.logo.url }}" class="img-responsive" alt="job.company" />
          </div>
        </div>
        <div class="col-md-8 col-sm-8">
          <div class="company-content">
            <h3>{{ job.title }}</h3>
            <p><span class="company-name"><i class="fa fa-briefcase"></i>{{ job.company }}</span><span class="company-location"><i class="fa fa-map-marker"></i>{{ job.location }}</span><span class="package"><i class="fa fa-money"></i>{{ job.salary }}</span></p>
            <h4><span class="{{ job.job_type }}">{{ job.get_job_type_display }}</span></h4>
            
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
          <a href="{% url 'jobs:detail' job.slug %}" class="btn view-job" >Detail</a>
        </div>
      </div>
    </div>
		{% endfor %}
		
      </div>
      <div class="row">
        <a class="btn brows-btn" href="{% url 'jobs:list_all' %}">Show more jobs</a>
      </div>
    </div>
  </section>

{% endblock main %}