
{% extends 'layout/base.html' %}
{% load static %}
{% block title %} {{ block.super }} login{% endblock title %}
{% block main %}
		<section class="login-wrapper">
			<div class="container">
				<div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
					<form method="post">
						{% csrf_token %}
						{% if form.errors %}
							{% for error in form.errors.values %}
								<div class="alert alert-danger">
									{% for message in error %}
										<p class="alert alert-warning">{{ message }}</p>
									{% endfor %}                                
								</div>
							{% endfor %}
						{% endif %}
						
						<img class="img-responsive" alt="logo" src="{% static 'jobs/img/logo.png' %}">
						<label>Username *</label>
                  		{{ form.username }}
						<label>Password *</label>
						{{ form.password }}
						<button type="submit" class="btn btn-primary">Login</button>
						<p>Have't Any Account <a href="{% url 'users:register' %}">Create An Account</a></p>
					</form>
				</div>
			</div>
		</section>
		<!-- login section End -->	
{% endblock main %}