{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Profile | {{ user.username|title }} {% endblock title %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'jobs/css/information.css' %}">
{% endblock css %}
		<!-- Main jumbotron for a primary marketing message or call to action -->
{% block main %}
    <section class="profile-detail">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="basic-information">
                        <div class="row panel panel-default">
                            <div class='container'>
                                <div class="col-md-3 col-sm-3">
                                    <img src="{{ candidate.picture.url }}" alt="" class="img-responsive">
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <div class="profile-content">
                                        <h2>{{ candidate.user.username }}<span>{{ candidate.title }}</span></h2>
                                        <p>Soft Techi Infoteck Pvt.</p>
                                        <table class="information">
                                            <tbody>
                                                <tr>
                                                    <th>Name</th><td>{{ candidate.user.first_name|default:'-' }} {{ candidate.user.last_name|default:'' }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Mobile</th><td>{{ candidate.mobile_number|default:'-' }}</td>
                                                </tr>
                                                {% if candidate.email %}
                                                    <tr>
                                                        <th>Email</th><td>{{ candidate.email }}</td>
                                                    </tr>
                                                {% endif %}
                                                {% if candidate.fixe_number %}
                                                    <tr>
                                                        <th>Fixe</th><td>{{ candidate.fixe_number }}</td>
                                                    </tr>
                                                {% endif %}
                                                <tr>
                                                    <th>Date of Birth</th><td>{{ candidate.birth|default:'' }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        <div class="row panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-cog fa-fw"></i> Skills
                            </div>
                            <div class="panel-body">
                                {% for skill in candidate.skill_set.all %}
                                    <span class="service-tag">{{ skill.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-user fa-fw"></i> About Me
                            </div>
                            {% if candidate.description %}
                                <p>{{ candidate.description }} </p>
                            {% else %}
                                <p>Pas de description</p>
                            {% endif %}
                        </div>
                        <div class="row panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-phone fa-fw"></i> Contacts
                            </div>
                            <ul class="social">
                                {% if candidate.facebook %}
                                    <li class="facebook"><i class="fa fa-facebook"></i>{{ candidate.facebook }}</li>
                                {% endif %}
                                {% if candidate.google %}
                                    <li class="google"><i class="fa fa-google-plus"></i>{{ candidate.google }}</li>
                                {% endif %}
                                {% if candidate.twitter %}
                                    <li class="twitter"><i class="fa fa-twitter"></i>{{ candidate.twitter }}</li>
                                {% endif %}
                                {% if candidate.linkedin %}
                                    <li class="linkedin"><i class="fa fa-linkedin"></i>{{ candidate.linkedin }}</li>
                                {% endif %}
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}