{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        
        <title>Easy work | {% block title %}{% endblock title %}</title>
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            
            <!-- All Plugin Css --> 
            
        {% endblock meta %}
        
        {% block css %}
            <link rel="stylesheet" href="{% static 'jobs/css/plugins.css' %}">
            <link rel="stylesheet" href="{% static 'jobs/css/common.css' %}">
            <link rel="stylesheet" href="{% static 'jobs/css/main.css' %}">
            <link rel="stylesheet" href="{% static 'jobs/css/messages.css' %}">
            
        {% endblock css %}
            
    </head>
	
    <body>
	
		<!-- Navigation Start  -->
		{% block header %}
        
            <nav class="navbar navbar-default navbar-sticky bootsnav">
                <div class="container">      
                    <!-- Start Header Navigation -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="{% url 'jobs:home' %}"><img src="{% static 'jobs/img/logo.png' %}" class="logo" alt=""></a>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                                <li><a href="{% url 'jobs:home' %}">Home</a></li> 
                                
                                {% if not user.is_authenticated %}
                                    <li><a href="{% url 'users:login' %}">Login</a></li>
                                {% endif %}
                                <li><a href="#">Companies</a></li> 
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse</a>
                                    <ul class="dropdown-menu animated fadeOutUp" style="display: none; opacity: 1;">
                                        <li class="active"><a href="#">Browse Jobs</a></li>
                                        <li><a href="#">Job Detail</a></li>
                                        {% if responsible %}
                                            <li><a href="{% url 'users:profile' responsible.slug %}">Resume Detail</a></li>
                                        {% endif %}
                                        {% if user.is_authenticated %}
                                            <li><a href="{% url 'users:logout' %}">Logout</a></li>
                                        {% endif %}
                                            
                                        
                                            
                                    </ul>
                                </li>
                            </ul>
                    </div><!-- /.navbar-collapse -->
                </div>   
            </nav>
        {% endblock header %}
		
		<main>
            {% block main %}
                
            {% endblock main %}
            {% block messages %}
            {% if messages %}
                <div id="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}       
            {% endblock messages %}
        </main>
		{% block footer %}
            <footer>
                <div class="container">
                    <div class="col-md-3 col-sm-6">
                        <h4>Featured Job</h4>
                        <ul>
                            <li><a href="#">Browse Jobs</a></li>
                            <li><a href="#">Premium MBA Jobs</a></li>
                            <li><a href="#">Access Database</a></li>
                            <li><a href="#">Manage Responses</a></li>
                            <li><a href="#">Report a Problem</a></li>
                            <li><a href="#">Mobile Site</a></li>
                            <li><a href="#">Jobs by Skill</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-3 col-sm-6">
                        <h4>Latest Job</h4>
                        <ul>
                            <li><a href="#">Browse Jobs</a></li>
                            <li><a href="#">Premium MBA Jobs</a></li>
                            <li><a href="#">Access Database</a></li>
                            <li><a href="#">Manage Responses</a></li>
                            <li><a href="#">Report a Problem</a></li>
                            <li><a href="#">Mobile Site</a></li>
                            <li><a href="#">Jobs by Skill</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-3 col-sm-6">
                        <h4>Reach Us</h4>
                        <address>
                        <ul>
                        <li>1201, Murakeu Market, QUCH07<br>
                        United Kingdon</li>
                        <li>Email: Support@job.com</li>
                        <li>Call: 044 123 458 65879</li>
                        <li>Skype: job@skype</li>
                        <li>FAX: 123 456 85</li>
                        </ul>
                        </address>
                    </div>
                    
                    <div class="col-md-3 col-sm-6">
                        <h4>Drop A Mail</h4>
                        <form>
                            <input type="text" class="form-control input-lg" placeholder="Your Name">
                            <input type="text" class="form-control input-lg" placeholder="Email...">
                            <textarea class="form-control" placeholder="Message"></textarea>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                    
            </footer>
        {% endblock footer %}

        {% block script %}
            <script type="text/javascript" src="{% static 'jobs/js/jquery.min.js' %}"></script>
            <script src="{% static 'jobs/js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'jobs/js/owl.carousel.min.js' %}"></script>
            <script src="{% static 'jobs/js/bootsnav.js' %}"></script>
            <script src="{% static 'jobs/js/main.js' %}"></script>
            <script src="{% static 'jobs/js/messages.js' %}"></script>
            
            
        {% endblock script %}
            
		
    </body>
</html>
